<h1 class="text-center mb-4">{{titulo}}</h1>

<table class="table table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Categorizacion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let alumno of alumnos">
            <td>{{alumno.id}}</td>
            <td>{{alumno.nombre | uppercase}}</td>
            <td>{{alumno.apellido | uppercase}}</td>
            <td>{{alumno.edad}}</td>
            <td *ngIf="alumno.edad<18; else elseBlock">Menor de edad</td>
            <ng-template #elseBlock>
                <td>Mayor de edad</td>
            </ng-template>
        </tr>
    </tbody>
</table>

